<?xml version="1.0"?>
<configuration>
	<!-- Custom configuration sections -->
    <configSections>
        <sectionGroup name="common">
            <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
        </sectionGroup>
        <sectionGroup name="spring">
            <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core" />
            <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core" />
            <section name="parsers" type="Spring.Context.Support.NamespaceParsersSectionHandler, Spring.Core" />
        </sectionGroup>
        <section name="MT.Mail" type="MT.Framework.Mail.MailProviderConfigurationSection, MT.Framework" />
    </configSections>
	<!-- Key-value application settings -->
	<location path="." inheritInChildApplications="false">
    <appSettings>
        <!-- Environment -->
        <add key="Environment" value="http://www.mychicagorun.org" />
        <add key="IsProduction" value="true" />
        <add key="PaginationSize" value="10" />
		<add key="GoogleMapLink" value="http://maps.googleapis.com/maps/api/js?key=AIzaSyCrj8cljlBA9a2jji5dDWUXrzoiJryOYUQ&amp;sensor=false"/>
        <add key="UploadImagePath" value="D:\Hosting\9812026\html\images\landmarks\"/>
        
        <!-- Cache durations -->
        <add key="CacheDurationSeconds" value="5" />
    </appSettings>
    <!-- Database and e-mail connection strings -->
    <connectionStrings>
        <clear />
        <add name="SmtpMailConnectionString" connectionString="PrimaryServer=relay-hosting.secureserver.net;user=4079533;password=graphic608" />
        <add name="FileMailConnectionString" connectionString="MailFolder=D:\Hosting\9812026\html\images\landmarks\" />
    </connectionStrings>
    <!-- Core ASP.NET settings -->
	<system.web>
	<trust level="Full" />		
		<httpRuntime maxRequestLength="9900" executionTimeout="600" requestValidationMode="2.0" />
		<compilation debug="true" defaultLanguage="C#" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
				<add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
			</assemblies>
		</compilation>
		<trace enabled="true" localOnly="false" />
		<pages enableEventValidation="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="Static" validateRequest="false">
			<controls>
				<add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			</controls>
		</pages>
		<httpModules>
			<add name="ExceptionModule" type="ChicagoRun.WebUI.HttpModules.ExceptionHttpModule" />
			<add name="UrlRoutingHttpModule" type="ChicagoRun.WebUI.HttpModules.UrlRoutingHttpModule, ChicagoRun.WebUI" />
		</httpModules>
       
		<sessionState mode="InProc" />
	</system.web>
	</location>
    <!-- AJAX settings -->
    <system.webServer>
        <validation validateIntegratedModeConfiguration="false" />
        <modules runAllManagedModulesForAllRequests="true">
            <add name="ExceptionModule" type="ChicagoRun.WebUI.HttpModules.ExceptionHttpModule, ChicagoRun.WebUI" />
            <add name="UrlRoutingHttpModule" type="ChicagoRun.WebUI.HttpModules.UrlRoutingHttpModule, ChicagoRun.WebUI" />
        </modules>
        <handlers>
            <remove name="OPTIONSVerbHandler" />
            <remove name="PageHandlerFactory-Integrated" />
            <add name="PageHandlerFactory-Integrated" path="*.aspx" verb="*" type="System.Web.UI.PageHandlerFactory" resourceType="Unspecified" preCondition="integratedMode" />
            <add name="OPTIONSVerbHandler" path="*.aspx" verb="OPTIONS,DEBUG" modules="ProtocolSupportModule" resourceType="Unspecified" requireAccess="None" />
        </handlers>
		<staticContent>
			<mimeMap fileExtension=".kml" mimeType="text/xml" />
		</staticContent>
		<directoryBrowse enabled="false" />
    </system.webServer>
    <!-- .NET diagnostics settings-->
    <system.diagnostics>
        <trace autoflush="true">
            <listeners>
                <clear />
            </listeners>
        </trace>
    </system.diagnostics>
    <!-- MailManager settings -->
    <MT.Mail defaultProvider="Smtp">
        <providers>
            <clear/>
            <add name="Smtp"
                    type="MT.Framework.Mail.SmtpMailProvider, MT.Framework"
                    connectionStringName="SmtpMailConnectionString"
                    description="SMTP Mail Provider"/>
            <add name="File"
                    type="MT.Framework.Mail.FileMailProvider, MT.Framework"
                    connectionStringName="FileMailConnectionString"
                    description="File Mail Provider"/>
        </providers>
    </MT.Mail>
    <!-- Spring.NET settings -->
	<location path="." inheritInChildApplications="false">
    <common>
        <logging>
            <factoryAdapter type="Common.Logging.Simple.ConsoleOutLoggerFactoryAdapter, Common.Logging">
                <arg key="showLogName" value="true" />
                <arg key="showDataTime" value="true" />
                <arg key="level" value="INFO" />
                <arg key="dateTimeFormat" value="yyyy/MM/dd HH:mm:ss:fff" />
            </factoryAdapter>
        </logging>
    </common>
    <spring>
        <context>
          <resource uri="file://~/AppContext.xml" />
        </context>
        <objects xmlns="http://www.springframework.net">
        </objects>
        <parsers>
            <parser type="Spring.Data.Config.DatabaseNamespaceParser, Spring.Data" />
        </parsers>
    </spring>
	</location>
</configuration>
